/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #f8f9fa, #e9ecef);
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    background: linear-gradient(to right, #38a169, #2f855a);
    padding: 10px 0;
    box-shadow: 0 4px 2px -2px gray;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
    color: #d4f1f4;
    transform: scale(1.1);
}

.nav-img {
    margin: 0;
    padding: 0;
    height: 30px;
    border-radius: 50%;
}

/* Main Content Styles */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.template-options,
.contract-dashboard {
    display: flex;
    justify-content: space-between;
}

.template,
.contract-status {
    background-color: #e7f5e9;
    padding: 20px;
    border-radius: 8px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.template h3,
.contract-status h3 {
    color: #4CAF50;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #2f855a;
    transform: scale(1.05);
}

/* Footer Styles */
footer {
    background: linear-gradient(to right, #2d3748, #1a202c);
    padding: 10px 0;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}